<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>EYE</title>
    <link href="EYE.css" rel="stylesheet" type="text/css">


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="../Controllers/EYEDash.js"></script>
</head>
<body>
    <div id="sideMenu">
        <div class="itemMenu">
            hjhkjhj
        </div>
        <div class="itemMenu">
            hjhkjhj
        </div>
        <div class="itemMenu">
            hjhkjhj
        </div>
        <div class="itemMenu">
            hjhkjhj
        </div>
        <div class="itemMenu">
            hjhkjhj
        </div>
        <div class="itemMenu">
            hjhkjhj
        </div>
        <div class="itemMenu">
            hjhkjhj
        </div>
        <div class="itemMenu">
            hjhkjhj
        </div>


        <div id="meuResumo">
            <div class="txtMeuResumo">MEU RESUMO:</div>

        </div>
    </div>

    <div id="areaInfo">
        <div class="infoGeralComputador">
            <div id="donutchart"></div>
        </div>
        <div class="infoGeralComputador">

        </div>
        <div class="infoGeralComputador">

        </div>
        <div class="infoGeralComputador">

        </div>
        <div class="infoGeralComputador">

        </div>
    </div>
</body>
</html>