<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>EYE</title>
    <link href="EYE.css" rel="stylesheet" type="text/css">


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="../Controllers/EYEDash.js"></script>
    <script type="text/javascript" src="../Controllers/EYEDashStyle.js"></script>
</head>
<body onload="iniciar()">
    <div id="sideMenu" onmousemove="getCoordenadas()">
        <div class="itemMenu">
            ss
            <div class="itemMenuBackGround"></div>
        </div>
        <div class="itemMenu">
            <div class="itemMenuBackGround"></div>
            cc
        </div>
        <div class="itemMenu">
            <div class="itemMenuBackGround"></div>
            gg
        </div>
        <div class="itemMenu">
            <div class="itemMenuBackGround"></div>
            aa
        </div>
        <div class="itemMenu">
            <div class="itemMenuBackGround"></div>
            hjhkjhj
        </div>
        <div class="itemMenu">
            <div class="itemMenuBackGround"></div>
            er
        </div>
        <div class="itemMenu">
            <div class="itemMenuBackGround"></div>
            gf
        </div>
        <div class="itemMenu">
            <div class="itemMenuBackGround"></div>
            as
        </div>


        <div id="meuResumo">
            <div class="txtMeuResumo">MEU RESUMO:</div>

        </div>
    </div>

    <div id="areaInfo">
        <div class="infoGeralComputador">
            <div id="donutchart"></div>
        </div>
        <div class="infoGeralComputador">

        </div>
        <div class="infoGeralComputador">

        </div>
        <div class="infoGeralComputador">

        </div>
        <div class="infoGeralComputador">

        </div>
    </div>
</body>
</html>