* {
    background: rgb(26,26,26);
    color: rgb(220,220,220);
    font-family: Consolas;
    position: relative;
}

/*Personalizar barra de rolagem*/
/* largura da barra */
::-webkit-scrollbar {
    width: 15px;
}

/* 'caminho' que a barra pode rolar */
::-webkit-scrollbar-track {
    background-color: rgb(26,26,26);
    /*border-left: solid 1px white;*/
}

/* barra de rolagem */
::-webkit-scrollbar-thumb {
    background: rgb(50,50,50);
    border-left: solid 1px rgb(86,13,196);
    transition: 0.3s;
}

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(226,26,47,0.3);

    }

#sideMenu{
    height: 100%;
    width: 20%;
    position: fixed;
    left: 0;
    top: 0;
}

.itemMenu {
    width: 100%;
    height: 5%;
    padding-top: 3%;
    padding-left: 2%;
    border-bottom: 1px solid rgb(226,26,47);
    background: rgb(26,26,26);
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
}

.itemMenuBackGround {
    background: linear-gradient(90deg,rgba(50,50,50,0),rgba(86,13,196,0.3), rgba(226,26,47,0.5), rgba(86,13,196,0.3), rgba(50,50,50,0));
    opacity: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 200%;
    left: -200%;
    transition-timing-function: ease-out;
    transition-delay: 0.1s;
    transition-duration: 1s;
}

.itemMenu:hover .itemMenuBackGround {
    opacity: 1;
    left: 0;
    transition-delay: 0s;
    transition-duration: 0.1s;
}




#meuResumo {
    width: 100%;
    height: 40%;
    border-right: 1px solid rgb(86,13,196);
    margin-top: 10%;
}

.txtMeuResumo{
    border-bottom: 1px solid rgb(86,13,196);
    padding: 2%;
    width: 50%;
}

#areaInfo{
    width:75%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    overflow: auto;
}

.infoGeralComputador {
    width: 40%;
    height: 30%;
    margin: 4%;
    border: 1px solid rgb(226,26,47);
    background: rgb(16,16,16);
    float: left;
}

#donutchart{
    height:100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;

}