

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}









:root {
    --bg-color: rgb(26,26,26);
    --txt-color: rgb(200,200,200);
    --green-color: rgb(0, 198, 19);
    --blue-color: rgb(0, 185, 226);
    --red-color: rgb(226,26,47);
    --yellow-color: rgb(246, 255, 0);
    --purple-color: rgb(86,13,196);
    --pink-color: rgb(150,20,110);
    --darker-bg-color: rgb(16,16,16);
    --lighter-bg-color: rgb(50,50,50);
    --red-color-a: rgba(226,26,47,0.5);
    --purple-color-a: rgba(86,13,196,0.5);
    --blue-color-a: rgba(0, 185, 226, 0.5);
    --to-invisible: rgba(50,50,50,0);
    --black-color-a: rgba(0,0,0,0.3);
    --black-color-a9: rgba(0,0,0,0.9);
    --black-color: rgb(0,0,0);
    --orange-color: rgb(255, 136, 0);
}

* {
    color: var(--txt-color);
    font-family: 'Segoe UI';
    position: relative;
    transition-duration: 0.5s;
    outline: none !important;
}

body {
    background: var(--bg-color);
}



::selection {
    color: var(--bg-color);
    background: var(--txt-color);
}


::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--bg-color);
    transition: 0.3s;
    border-radius: 20px;
    border: solid 1px var(--pink-color);
}

    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(180deg, var(--red-color), var(--pink-color), var(--red-color));
        opacity: 0.6;
    }


.radialBlack {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0vh;
    left: 0vw;
    background: radial-gradient(circle, var(--bg-color), var(--darker-bg-color),var(--black-color));
    z-index: -2;
    transition-duration: 0s;
}

#sideMenu {
    height: 70%;
    width: 15%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}

    #sideMenu a {
        flex: auto;
        background: none;
        padding: 0;
        transition: 0.5s;
        /*border-bottom: 1px solid var(--txt-color);*/
    }

.itemMenu {
    top: 0;
    height: 100%;
    width: 100%;
    background: var(--bg-color);
    cursor: pointer;
    overflow: hidden;
    transition-timing-function: ease-out;
    position: absolute;
}

.itemMenuBackGround {
    background: radial-gradient(circle, var(--red-color-a), var(--to-invisible));
    opacity: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 210%;
    left: -200%;
    transition-timing-function: ease-out;
    transition-delay: 0.1s;
    transition-duration: 1s;
}

.itemIcon {
    height: 90%;
    position: absolute;
    left: -10%;
    top: 0%;
    flex: auto;
    transition-delay: 0.1s;
    opacity: 0.2;
}

    .itemIcon img {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
    }


.itemTxt {
    height: 30%;
    width: 70%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.3em;
    text-align: center;
    padding: 2%;
    padding-left: 28%;
    padding-top: 10%;
    padding-bottom: 40%;
    background: radial-gradient(circle, var(--black-color-a9), var(--black-color-a));
}

.itemMenu:hover .itemMenuBackGround {
    opacity: 0.5;
    left: 0;
    transition-delay: 0s;
    transition-duration: 0.1s;
}

.itemMenu:hover .itemIcon {
    transition: 0.3s ease-out;
    transition-delay: 0s;
    transform: scale(2);
    opacity: 1;
}


.itemMenu:hover {
    width: 100%;
    border-right: solid 1vw var(--purple-color);
}

    .itemMenu:hover .itemIcon img {
        filter: grayscale(100%);
        opacity: 0.5;
    }

    .itemMenu:hover .itemTxt {
        text-align: right;
    }


#meuResumo {
    height: 30%;
    width: 15%;
    padding: 0%;
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 1.3em;
    margin-top: 0%;
    transition-duration: 0.5s;
    z-index: 2;
    background: radial-gradient(circle, var(--black-color), var(--black-color-a));
}

.txtMeuResumo {
    padding: 2%;
    width: 40%;
    padding-left: 10%;
    text-align: center;
    margin-left: 25%;
    transition-duration: 0.5s;
    float: left;
    margin-top: 10%;
}

#areaInfo {
    width: 85%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    overflow: auto;
    float: left;
}

#meuResumo:hover {
    width: 100%;
    padding: 0;
    height: 30%;
    background: var(--black-color);
}


    #meuResumo:hover .txtMeuResumo {
        text-align: left;
        width: 10%;
        margin: 0;
    }


.infoGeralComputador {
    width: 45%;
    min-height: 30vw;
    margin: 2%;
    background: var(--darker-bg-color);
    float: left;
    transition-duration: 0.3s;
    border-radius: 0px;
    box-shadow: 0px 0px 50px 1px var(--black-color);
}


.tituloComputador {
    height: 2.5vw;
    width: 98%;
    color: var(--txt-color);
    border-bottom: solid 1px var(--to-invisible);
    border-image: linear-gradient(to bottom right, var(--yellow-color) 0%, var(--green-color) 25%, var(--blue-color) 50%, var(--purple-color) 75%, var(--pink-color) 100%);
    border-image-slice: 1;
    position: relative;
    float: left;
    text-align: left;
    font-size: 1.3em;
    padding-top: 1%;
    padding-left: 2%;
    left: 0%;
    background: var(--black-color-a);
    font-weight: lighter;
    box-shadow: 0px 0px 50px 1px var(--black-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.localChart {
    height: 14vw;
    width: 14vw;
    position: relative;
    float: left;
    margin: 2%;
    margin-left: 8%;
}


.labelsChart {
    position: absolute;
    z-index: 2;
    background: none;
    height: 80%;
    width: 80%;
    margin: 10%;
    top: 0;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 50px 1px var(--black-color);
}

.tituloLabel {
    width: 100%;
    background-color: none;
    text-align: center;
    font-size: 1.5em;
    padding-top: 8%;
    padding-bottom: 4%;
    margin-bottom: 4%;
    color: var(--black-color);
}

.conteudoLabel {
    width: 40%;
    height: 20%;
    float: left;
    background-color: none;
    text-align: center;
    font-size: 1em;
    margin: 2.5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.detalhesMonitor {
    height: 26%;
    width: 96%;
    position: relative;
    float: left;
    margin: 2%;
}

.campoDetalhe {
    float: none;
    position: relative;
    height: 15%;
    margin: 2%;
    text-align: center;
    font-size: 1em;
}

.areaCPU {
    height: 17vw;
    width: 35vw;
    position: relative;
    float: left;
    margin: 2%;
    margin-top: 5%;
}

.labelCpu {
    height: 76%;
    width: 20%;
    margin: 0;
    right: 0;
    float: left;
    position: absolute;
    text-align: center;
    bottom: 5%;
    padding-bottom: 0;
    font-size: 1.5vw;
    color: var(--txt-color);
    background: var(--to-invisible);
    padding: 0;
    border-left: solid var(--txt-color) 0.1vw;
}

.porcentagemCpu {
    height: 10px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 25%;
}

.graficoCpu {
    height: 80%;
    width: 80%;
    float: left;
}

.tituloCpu {
    height: 15%;
    width: 95%;
    float: left;
    text-align: left;
    padding-left: 10%;
    font-size: 1.5vmax;
}


.areaCampos {
    position: fixed;
    left: 25%;
    right: 25%;
    top: 30%;
    width: 50%;
    height: 40%;
}

.mensagem {
    height: 10%;
    color: var(--red-color);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.campos {
    width: 70%;
    left: 0;
    top: 10%;
    position: relative;
    float: left;
    overflow: visible;
}

    .campos:last-of-type {
        width: 30%;
    }

.areaCampos input[type="text"], .areaCampos input[type="password"], .areaCampos input[type="email"], .areaCampos input[type="date"], .areaCampos select {
    background: none;
    border: none;
    border: none;
    width: 96%;
    height: 7vh;
    border-bottom: solid 1px var(--red-color);
    font-size: 2vmax;
    font-weight: lighter;
    padding: 2vh;
    padding-right: 0.5vw;
    padding-left: 1vw;
    position: relative;
    float: left;
    margin: 0;
    margin-top: 3vh;
}


    .areaCampos input[type="text"]:focus, .areaCampos input[type="password"]:focus, .areaCampos input[type="email"]:focus, .areaCampos input[type="date"]:focus, .areaCampos select:focus,
    .areaCampos input[type="text"]:active, .areaCampos input[type="password"]:active, .areaCampos input[type="email"]:active, .areaCampos input[type="date"]:active, .areaCampos select:active,
    .areaCampos input[type="text"]:target, .areaCampos input[type="password"]:target, .areaCampos input[type="email"]:target, .areaCampos input[type="date"]:target, .areaCampos select:target {
        border-bottom: 1px solid var(--purple-color);
        border-bottom-left-radius: 20%;
        width: 92%;
        padding-left: 4%;
        color: var(--purple-color);
    }


.btnForm {
    width: 40%;
    border: solid 1px var(--red-color);
    margin-top: 14vh;
    font-size: 1.5vmax;
    float: left;
    height: 14vh;
    padding: 0;
    width: 10vw;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    color: var(--txt-color);
    overflow: hidden;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    cursor: pointer;
}

    .btnForm:hover {
        border-color: var(--txt-color);
    }

    .btnForm input {
        background: none;
        border: none;
        font-size: 1.5vmax;
        transition-duration: .3s;
        cursor: pointer;
        height: 14vh;
        width: 10vw;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }

        .btnForm input:focus {
            color: var(--purple-color);
            padding-left: 40%;
        }


    .btnForm:hover input, .btnForm:focus input, .btnForm:active input {
        padding-left: 40%;
    }

    .btnForm .itemMenuBackGround {
        position: absolute;
    }

    .btnForm:hover .itemMenuBackGround {
        opacity: 1;
        left: 0;
        transition-delay: 0s;
        transition-duration: 0.1s;
        background: radial-gradient(circle, var(--red-color-a), var(--black-color-a));
        position: absolute;
    }

input:focus {
    outline: none !important;
}


label {
    font-size: 1.5vmax;
    font-weight: lighter;
}




#progressTrack {
    position: fixed;
    right: 50%;
    width: 50vmax;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -0%);
    top: 10%;
    transition-duration: 0.5s;
    height: 2vh;
    border-bottom: 1px solid var(--txt-color);
}

#progressBar {
    position: absolute;
    width: 0;
    left: 0;
    top: 0;
    transition-duration: 0.5s;
    height: 1vh;
    background: var(--purple-color)
}

#lblTexto {
    position: fixed;
    right: 50%;
    width: 50vmax;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -0%);
    top: 15%;
    font-size: 2vmax;
    transition-duration: 0.5s;
    font-weight: lighter;
    overflow: visible;
}


.cadastroCampos .areaCampos {
    overflow: hidden;
    width: 50%;
    max-width: 50vw;
    min-width: 50vw;
    position: fixed;
}

.cadastroCampos .campos {
    width: 100%;
    position: absolute;
    float: left;
    padding: 0;
    margin: 0;
}



.cadastroCampos .areaCampos input[type="text"], .cadastroCampos .areaCampos input[type="password"], .cadastroCampos .areaCampos input[type="email"], .cadastroCampos .areaCampos input[type="date"], .cadastroCampos .areaCampos select {
    position: absolute;
    opacity: 0;
}


    .cadastroCampos .areaCampos input[type="text"]:focus, .cadastroCampos .areaCampos input[type="password"]:focus, .cadastroCampos .areaCampos input[type="email"]:focus, .cadastroCampos .areaCampos input[type="date"]:focus, .cadastroCampos .areaCampos select:focus,
    .cadastroCampos .areaCampos input[type="text"]:active, .cadastroCampos .areaCampos input[type="password"]:active, .cadastroCampos .areaCampos input[type="email"]:active, .cadastroCampos .areaCampos input[type="date"]:active, .cadastroCampos .areaCampos select:active,
    .cadastroCampos .areaCampos input[type="text"]:target, .cadastroCampos .areaCampos input[type="password"]:target, .cadastroCampos .areaCampos input[type="email"]:target, .cadastroCampos .areaCampos input[type="date"]:target, .cadastroCampos .areaCampos select:target {
        border-radius: 20%;
    }

#btnFormCadastrar {
    position: absolute;
    right: 25%;
    left: 25%;
    width: 50%;
    border-radius: 0px;
    border-color: var(--purple-color);
    border-top: none;
}

    #btnFormCadastrar #btnCadastrar {
        width: 100%;
    }


    #btnFormCadastrar .itemMenuBackGround {
        background: radial-gradient(circle, var(--purple-color-a), var(--black-color-a));
    }

    #btnFormCadastrar:hover .itemMenuBackGround {
        background: radial-gradient(circle, var(--purple-color-a), var(--black-color-a));
    }

#btnFormNext {
    width: 24%;
    position: absolute;
    right: 0;
    border-color: var(--purple-color);
    border-top-right-radius: 0;
    border-top: none;
}

#btnFormPrevious {
    width: 24%;
    position: absolute;
    left: 0;
    border-radius: 0;
    border-bottom-left-radius: 100px;
    border-color: var(--purple-color);
    border-top: none;
}

    #btnFormPrevious .itemMenuBackGround, #btnFormNext .itemMenuBackGround {
        background: radial-gradient(circle, var(--purple-color-a), var(--black-color-a));
    }

    #btnFormPrevious:hover .itemMenuBackGround, #btnFormNext:hover .itemMenuBackGround {
        background: radial-gradient(circle, var(--purple-color-a), var(--black-color-a));
    }

    #btnFormPrevious:hover, #btnFormNext:hover, #btnFormCadastrar:hover {
        border-color: var(--to-invisible);
    }

    #btnFormPrevious input {
        width: 110%;
    }

#btnFormNext input {
    width: 110%;
}

#btnFormPrevious:hover input {
    padding-left: -0%;
    border-radius: 0;
}

#btnFormNext:hover input {
    padding-left: 0%;
    border-radius: 0;
}


#btnFormCadastrar:hover input {
    padding-left: 0%;
    border-radius: 0;
}



.defaultButton {
    width: 40%;
    border: solid 1px var(--red-color);
    font-size: 1.2vmax;
    float: left;
    height: 10vh;
    width: 13vw;
    color: var(--txt-color);
    overflow: hidden;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    cursor: pointer;
    background: var(--to-invisible);
}

    .defaultButton:hover, .defaultButton:focus, .defaultButton:target, .defaultButton:active {
        border-color: var(--to-invisible);
        color: var(--pink-color-a);
    }

#btnIrPara {
    position: fixed;
    right: 0;
    top: 0;
    border: none;
    border-bottom: solid 1px var(--pink-color);
    border-bottom-left-radius: 20%;
}

    #btnIrPara:hover, #btnIrPara:focus, #btnIrPara:active, #btnIrPara:target {
        color: var(--pink-color);
    }






.cadastroCampos option {
    height: 100%;
    width: 100%;
    background: var(--bg-color);
    border: none;
    font-size: 0.8em;
}

.cadastroCampos select {
    height: 10vh;
    overflow: visible;
}


@keyframes loading {
    from {
        border-color: var(--pink-color);
        padding-top: 3%;
    }

    to {
        border-color: var(--purple-color);
        padding-bottom: 3%;
    }
}

.loading {
    content: "CARREGANDO INFORMAÇÕES...";
    position: relative;
    height: auto;
    width: 80%;
    left: 10%;
    border: solid 4px var(--to-invisible);
    border-left: none;
    border-right: none;
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    text-align: center;
    padding: 2%;
}




.AreaTarefa {
    margin: 2%;
    top: 50%;
    margin-top: 0;
    height: 70vh;
    width: 40%;
    position: relative;
    padding: 2%;
    background: var(--darker-bg-color);
    float: left;
    box-shadow: 0px 0px 50px 1px var(--black-color);
    transform: translate(0%,-50%);
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

#AreaCadastroTarefa input {
    background: none;
    border: none;
    width: 96%;
    flex: auto;
    border-bottom: solid 1px var(--pink-color);
    font-size: 2vmax;
    font-weight: lighter;
    padding: 2%;
    position: relative;
    float: left;
    margin: 0;
}

    #AreaCadastroTarefa input:focus,
    #AreaCadastroTarefa input:active,
    #AreaCadastroTarefa input:target {
        border-bottom: 1px solid var(--blue-color);
        border-bottom-left-radius: 20%;
        width: 92%;
        padding-left: 4%;
        color: var(--blue-color);
    }

    #AreaCadastroTarefa input[type="button"]:focus,
    #AreaCadastroTarefa input[type="button"]:active,
    #AreaCadastroTarefa input[type="button"]:target {
        border-bottom-left-radius: 0%;
        margin-bottom: 0;
        margin-top: 0;
    }

    #AreaCadastroTarefa input[type="button"]:hover {
        border-bottom: 1px solid var(--orange-color);
        border-radius: 20%;
        color: var(--orange-color);
        width: 96%;
        cursor: pointer;
    }

#AreaCadastroTarefa .campos {
    width: 100%;
    left: 0;
    margin-top: 0%;
    margin-bottom: 0%;
    position: relative;
    float: left;
    flex: auto;
    top: 1%;
}

#btnAdicionar {
    flex: none;
}

.conteudoTarefa {
    margin-top: 10%;
    width: 96%;
    position: relative;
    float: left;
    background: var(--black-color-a9);
    padding: 2%;
    box-shadow: 0px 0px 50px 1px var(--black-color);
    border-radius: 10px;
}

    .conteudoTarefa input, .conteudoTarefa select {
        background: none;
        border: none;
        width: 96%;
        height: auto;
        border-bottom: solid 1px var(--yellow-color);
        font-size: 2vmax;
        font-weight: lighter;
        margin-bottom: 3%;
    }

        .conteudoTarefa input:focus, .conteudoTarefa select:focus,
        .conteudoTarefa input:active, .conteudoTarefa select:active,
        .conteudoTarefa input:target, .conteudoTarefa input:target {
            border-bottom: 1px solid var(--orange-color);
            border-bottom-left-radius: 0%;
            border-bottom-right-radius: 20%;
            width: 92%;
            padding-left: 4%;
            color: var(--orange-color);
        }

    .conteudoTarefa option {
        background: var(--darker-bg-color);
        border: solid 1px var(--txt-color);
        font-weight: lighter;
    }


.btnCadastrarTarefa {
    position: absolute;
    bottom: 0;
    width: 70%;
    left: 15%;
    float: left;
}






#btnAdicionar {
    background: none;
    border: none;
    width: 100%;
    height: auto;
    border-bottom: solid 1px var(--yellow-color);
    font-size: 2vmax;
    font-weight: lighter;
    padding: 2%;
    position: relative;
    float: left;
    margin: 0;
}

    #btnAdicionar:focus,
    #btnAdicionar:active,
    #btnAdicionar:target {
        border-bottom: 1px solid var(--blue-color);
        border-bottom-left-radius: 20%;
        color: var(--blue-color);
        border-bottom-left-radius: 0%;
    }


    #btnAdicionar:hover {
        border-bottom: 1px solid var(--blue-color);
        border-radius: 20%;
        color: var(--blue-color);
        width: 96%;
        cursor: pointer;
        margin-left: 2%;
    }


#btnFormCadastrarTarefa {
    position: absolute;
    float: left;
    bottom: 0;
    height: 10vh;
    right: 15%;
    left: 15%;
    width: 70%;
    border-radius: 0px;
    border-color: var(--blue-color);
    border-bottom: none;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: var(--darker-bg-color);
    padding-top: 0;
}

    #btnFormCadastrarTarefa #btnCadastrarTarefa {
        width: 100%;
        font-size: 1.5em;
        height: 100%;
        font-weight: lighter;
    }

    #btnFormCadastrarTarefa:hover #btnCadastrarTarefa {
        width: 100%;
        padding-left: 0;
    }

    #btnFormCadastrarTarefa .itemMenuBackGround {
        background: radial-gradient(circle, var(--blue-color-a), var(--black-color-a));
    }

    #btnFormCadastrarTarefa #btnCadastrarTarefa:active,
    #btnFormCadastrarTarefa #btnCadastrarTarefa:target,
    #btnFormCadastrarTarefa #btnCadastrarTarefa:focus
    {
        color: var(--txt-color);
        padding: 0;
        width: 100%;
    }

    .msgTarefa{
        width: 80vw;
        color: red;
        height: auto;
        padding-bottom: 2%;
        margin-bottom: 2%;
        position: fixed;
        top: 2%;
        font-weight: 600;
        font-size: 1.5em;
        text-align: center;
        z-index: 2;
        background: var(--bg-color);
        
    }



/*                                                                                                */
/*------------------------------------------Responsive--------------------------------------------*/
@media only screen and (max-aspect-ratio: 6/4) {
    * {
        font-size: 1.5vmax;
    }

    .itemTxt {
        font-size: 1.5vmax;
    }

    .txtMeuResumo {
        font-size: 1.5vmax;
    }

    .tituloLabel {
        font-size: 2vmax;
    }

    .conteudoLabel {
        font-size: 1.5vmax;
    }

    .tituloComputador {
        font-size: 2vmax;
    }


    .campoDetalhe {
        font-size: 1.3vmax;
    }
}



@media only screen and (max-aspect-ratio: 7/8) {
    * {
        font-size: 2vmax;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }


    #sideMenu {
        width: 15%;
        overflow-y: visible;
        overflow-x: visible;
        height: 85%;
        z-index: 1;
    }

    .itemMenu {
        width: 100%;
        transition-delay: 0.1s;
        background: var(--black-color-a9);
    }

        .itemMenu:hover {
            width: 25vmax;
            transition-duration: 0.1s;
            transition-delay: 0s;
            transition-timing-function: ease;
        }


    .itemTxt {
        opacity: 0;
        margin-left: 0px;
        transition-duration: 0.3s;
    }

    .itemMenu:hover .itemTxt {
        opacity: 1;
        font-size: 2vmax;
    }

    .itemMenuBackGround {
        background: linear-gradient(90deg,var(--black-color-a), var(--red-color-a), var(--black-color-a));
    }

    .itemIcon {
        width: 100%;
    }

        .itemIcon img {
            height: 80%;
        }

    #meuResumo {
        width: 11vmax;
        height: 5vmax;
        border-right: 1px solid var(--purple-color);
        overflow: hidden;
    }

        #meuResumo:hover {
            width: 100vmin;
            height: 100vmin;
            background: var(--black-color-a9);
        }

            #meuResumo:hover .txtMeuResumo {
                width: 50%;
                height: auto;
            }

    .txtMeuResumo {
        width: 60%;
        height: 50px;
    }

    #areaInfo {
        width: 75%;
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        overflow: auto;
    }



    .infoGeralComputador {
        width: 60vw;
        height: auto;
    }


    .localChart {
        height: 30vw;
        width: 30vw;
        float: none;
        position: relative;
        margin-right: 50%;
        float: left;
        left: 50%;
        transform: translate(-65%, 0%);
    }

    .tituloLabel {
        font-size: 2vmax;
        padding-top: 6%;
        margin-bottom: 5%;
    }

    .conteudoLabel {
        font-size: 1.5vmax;
        margin-top: 5%;
    }

    .tituloComputador {
        height: auto;
        padding-bottom: 1%;
        font-size: 2vmax;
    }

    .detalhesMonitor {
        height: 30%;
        width: 96%;
        position: relative;
        float: left;
        margin: 2%;
    }

    .campoDetalhe {
        float: none;
        position: relative;
        height: 15%;
        margin: 3%;
        margin-top: 5%;
        text-align: center;
        font-size: 1.3vmax;
    }


    .areaCPU {
        height: 40%;
        width: 96%;
        position: relative;
        float: left;
        margin: 2%;
    }

    .labelCpu {
        font-size: 2.5vw;
    }

    .graficoCpu {
        height: 100%;
        width: 80%;
        float: left;
    }





    .areaCampos {
        left: 5%;
        right: 5%;
        top: 20%;
        width: 90%;
        height: 80%;
    }

    .mensagem {
        width: 90%;
        top: 10%
    }

    .cadastroCampos .mensagem {
        top: 23%;
    }

    .campos {
        width: 100%;
        left: 0;
        top: 10%;
        position: relative;
        float: left;
    }



    .areaCampos input[type="text"], .areaCampos input[type="password"], .areaCampos input[type="email"], .areaCampos input[type="date"], .areaCampos select {
        width: 86vw;
        padding: 2vw;
        font-size: 6vmin;
    }




    .btnForm {
        width: 89.7vw;
        margin: 0%;
        border-top: none;
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 40px;
        border-top-right-radius: 0;
        height: 10vh;
    }


        .btnForm input {
            font-weight: lighter;
            margin-left: 0%;
            width: 90vw;
            font-size: 4vmax;
            margin-top: -2vh;
        }

            .btnForm input:focus {
                padding: 0;
            }


        .btnForm:hover .itemMenuBackGround {
            background: linear-gradient(90deg, var(--to-invisible),var(--black-color-a), var(--red-color-a), var(--black-color-a),var(--to-invisible));
        }



    #progressTrack {
        width: 90vw;
    }



    #lblTexto {
        width: 70vw;
        top: 15%;
        font-size: 4vmax;
        max-width: 70vw;
        min-width: 70vw;
        height: auto;
        position: fixed;
    }


    .cadastroCampos .areaCampos {
        width: 90vw;
        max-width: 90vw;
        min-width: 90vw;
    }


    .cadastroCampos .campos {
        position: relative;
        top: 20vh;
    }

        .cadastroCampos .campos:last-of-type {
            position: relative;
            top: 36vh;
        }



    #btnFormCadastrar {
        height: 13vh;
        width: 40%;
        left: 30.1%;
    }

        #btnFormCadastrar #btnCadastrar {
            width: 100%;
            height: 13vh;
        }



    #btnFormNext {
        width: 30%;
        border-bottom-left-radius: 0;
        height: 13vh;
    }

    #btnFormPrevious {
        width: 30%;
        height: 13vh;
        border-bottom-left-radius: 40px;
    }

    #btnFormNext input {
        font-size: 5vw;
        height: 120%;
    }

    #btnFormPrevious input {
        font-size: 5vw;
        height: 120%;
    }

    #btnFormCadastrar input {
        font-size: 5vw;
        height: 120%;
        margin-top: -3%;
    }



    .defaultButton {
        width: 90vw;
        min-width: 90vw;
        max-width: 90vw;
        font-size: 3vmax;
        border-radius: 0;
        height: 7vh
    }

        .defaultButton:hover {
            border-color: var(--to-invisible);
            color: var(--pink-color-a);
        }

    #btnIrPara {
        position: fixed;
        left: 5vw;
        border: none;
        border-top: solid 1px var(--pink-color);
        border-radius: 0;
        bottom: 0;
        top: 93vh;
        z-index: 2;
    }


    .cadastroCampos option {
        height: 100%;
        width: 100%;
        background: var(--bg-color);
        border: none;
        font-size: 2.5vh;
    }





    .AreaTarefa {
        transform: none;
        margin: 2%;
        top: 5%;
        height: 50vh;
        width: 80%;
        padding-top: 2%;
        margin-bottom: 10%;
        margin-left: 0;
        left: 0;
        font-size: 1.5vh;
    }


    #btnFormCadastrarTarefa {
        position: fixed;
        width: 70vw;
        margin-left: 6vw;
    }

    #AreaConfig{
        height: auto;
        margin-bottom: 12vh;
    }
        

}
